#bs-pav li strong {}
.product-type-data .regular-price .price { font-size:2em !important;}
/*.perPax{ display:none;}*/
.catalog-product-view .perPax{  color:#0b4d86; font-size:2em; display:inline-block !important;}
.catalog-category-view .perPax, .catalogsearch-result-index  .perPax{  color:#0b4d86; font-size:1em; display:inline-block !important;}
.products-grid .item {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.itemslider {
    margin-bottom: 2px !important;
}
.products-list .price-box {
    font-size: 2em;
    line-height: 1.25em;
}
.itemslider-wrapper .perPax { display:inline-block !important; color:#0b4d86; font-size:12px;}
.product-view .box-reviews .form-add .data-table {
    max-width: 100% !important;
}
.product-view .box-reviews .form-add .data-table th, .product-view .box-reviews .form-add .data-table td
{
	text-align:left !important;
}
.product-view .box-additional {
    margin-top: 0 !important;
}

.product-view .container2-wrapper { border:none !important;}
.catalog-product-view .custom-sidebar-right ol li {
    list-style-type: decimal;
    margin-left: 15px;
}
.custom-sidebar-right #product-options-wrapper p.note { display:none;}
.cms-index-index .std h3.section-title { text-align:center;}
.checkout-onepage-index #ordercomment-comment { width:99% !important; }
.header .logo-wrapper .logo {
     max-width: 351px !important;    
}


@media only screen and (max-width: 600px) {
  body{
 overflow: scroll;
}
}

.fieldset>.field:not(.choice)>.label { text-align:left !important; }
#search_mini_form .form-search .input-text {color:#000; font-weight:bold; border-color:#999;}

.sp-methods .form-list { padding:0px 10px 0px 22px !important; } 