<?xml version="1.0"?>
<config>
    <modules>
        <MMD_Seotitle>
            <version>1.0.0</version>
        </MMD_Seotitle>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <!-- Render-time SEO <title> composer: brand suffix on every
                         page + funding prefix on course product pages. -->
                    <html_head>MMD_Seotitle_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
