<?xml version="1.0"?>
<config>
	 <default>
		<fbfanbox>
			<general>
				<enable>1</enable>
				<fb_page_id>410840968969759</fb_page_id>
				<header>1</header>
				<box_width>195</box_width>
				<box_height>320</box_height>
				<connection>10</connection>
				<boxposition>left</boxposition>
			</general>
			
		</fbfanbox>
	</default>
	
	
    <modules>
        <MMD_Fbfanbox>
            <version>0.1.3</version>
        </MMD_Fbfanbox>
    </modules>
    <frontend>
        <routers>
            <fbfanbox>
                <use>standard</use>
                <args>
                    <module>MMD_Fbfanbox</module>
                    <frontName>fbfanbox</frontName>
                </args>
            </fbfanbox>
        </routers>
        <layout>
            <updates>
                <fbfanbox>
                    <file>fbfanbox.xml</file>
                </fbfanbox>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fbfanbox>
				<use>admin</use>
				<args>
					<module>MMD_Fbfanbox</module>
					<frontName>fbfanbox</frontName>
				</args>
			</fbfanbox>
        </routers>
    </admin>
    <adminhtml>					
		<layout>
			<updates>
				<fbfanbox>
					<file>fbfanbox.xml</file>
				</fbfanbox>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fbfanbox>
                <class>MMD_Fbfanbox_Model</class>
                <resourceModel>fbfanbox_mysql4</resourceModel>
            </fbfanbox>
            <fbfanbox_mysql4>
                <class>MMD_Fbfanbox_Model_Mysql4</class>
                <entities>
                    <fbfanbox>
                        <table>fbfanbox</table>
                    </fbfanbox>
                </entities>
            </fbfanbox_mysql4>
        </models>
        <resources>
            <fbfanbox_setup>
                <setup>
                    <module>MMD_Fbfanbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fbfanbox_setup>
            <fbfanbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fbfanbox_write>
            <fbfanbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fbfanbox_read>
        </resources>
        <blocks>
            <fbfanbox>
                <class>MMD_Fbfanbox_Block</class>
            </fbfanbox>
        </blocks>
        <helpers>
            <fbfanbox>
                <class>MMD_Fbfanbox_Helper</class>
            </fbfanbox>
        </helpers>
    </global>
</config>