<?xml version="1.0"?>
<config>
    <tabs>
        <mmd translate="label">
            <label>Mage Mobile Design</label>
            <sort_order>400</sort_order>
        </mmd>
    </tabs>

    <sections>
        <fbfanbox translate="label" module="fbfanbox">

            <class>separator-top</class>

            <label>Facebook FanBox</label>

            <tab>mmd</tab>

            <frontend_type>text</frontend_type>

            <sort_order>300</sort_order>

            <show_in_default>1</show_in_default>

            <show_in_website>1</show_in_website>

            <show_in_store>1</show_in_store>

            <groups>
				<general translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
					
						<fb_page_id translate="label">
                             <label>Facebook Profile/Page ID</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>ID of Facebook page or Facebook application</comment>
                        </fb_page_id>
						
						<box_width translate="label">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Width of the box in pixel</comment>
                        </box_width>
						
						<box_height translate="label">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Height of the box in pixel</comment>
                        </box_height>
						
						<connection translate="label">
                            <label>Connections</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Show a sample of this many users who have liked this page</comment>
                        </connection>
						
						<stream translate="label">
                            <label>Streams</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Show the profile stream for the public profile</comment>
                        </stream>
						
						<header translate="label">
                            <label>Header</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Show the 'find us on Facebook' bar at top</comment>
                        </header>
						
						<boxposition translate="label">
							<label>Position</label>
							<frontend_type>select</frontend_type>
							<source_model>fbfanbox/source_position</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</boxposition>
						
						<fb_page_background translate="label">
                             <label>Content Background</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Content background Code Like for black #000000</comment>
                        </fb_page_background>
						
					</fields>	
				</general>
			
				
            </groups>

        </fbfanbox>        

    </sections>

</config>