<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <mmdsys>
            <groups>
                <modules>
                    <fields>
                        <MMD_Checkoutoptions translate="label comment">
                            <label>Checkout Fields</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>mmdsys/system_config_source_stores</source_model>
                            <backend_model>mmdsys/system_config_backend_stores</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </MMD_Checkoutoptions>
                    </fields>
                </modules>
            </groups>
        </mmdsys>
        <checkoutoptions translate="label" module="checkoutoptions">
            <class></class>
               <label>Checkout Fields Manager</label>
            <tab>mmd</tab>
               <frontend_type>text</frontend_type>
               <sort_order>20</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Registration Page Labels</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <checkoutoptions_reg_label_top translate="label comment">
                            <label>Top Block Label</label>
                            <comment>default: Additional info</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_reg_label_top>
                        <checkoutoptions_reg_label_bottom translate="label comment">
                            <label>Bottom Block Label</label>
                            <comment>default: Additional info</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_reg_label_bottom>
                    </fields>
                </settings>
                <email_settings translate="label">
                    <label>Email Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <checkoutoptions_email_TheadTrThStyle translate="label comment">
                            <label>Header(TheadTrThStyle)</label>
                            <comment><![CDATA[default:<br>background: #eaeaea; font-size:13px; padding:5px 9px 6px 9px; line-height:1em;]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_email_TheadTrThStyle>
                        <checkoutoptions_email_TbodyTrTdStyle translate="label comment">
                            <label>Content(TbodyTrTdStyle)</label>
                            <comment><![CDATA[default:<br>font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #eaeaea; border-bottom:1px solid #eaeaea; border-right:1px solid #eaeaea;]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_email_TbodyTrTdStyle>
                        <checkoutoptions_email_label translate="label comment">
                            <label>Block Label</label>
                            <comment>default: Additional info</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_email_label>
                    </fields>
                </email_settings>
                <common_settings translate="label">
                <label>Common Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                           <checkoutoptions_additionalblock_label translate="label comment">
                            <label>Block Label</label>
                            <comment>default: Additional info</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </checkoutoptions_additionalblock_label>
                    </fields>
                </common_settings>
            </groups>
        </checkoutoptions>
    </sections>
</config>
<!--
/**
 * Checkout Fields Manager
 *
 * @category:    MMD
 * @package:     MMD_Checkoutoptions
 * @version      2.9.2
 * @license:     
 * @copyright:   Copyright (c) 2013 MMD, Inc. (http://www.mmd.com)
 */
-->
