<?xml version="1.0"?>
<config>
    <modules><MMD_LeadMail><version>1.0.0</version></MMD_LeadMail></modules>
    <global>
        <helpers>
            <mmd_leadmail><class>MMD_LeadMail_Helper</class></mmd_leadmail>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mmd_leadmail translate="title" module="mmd_leadmail">
                                            <title>Lead Form Emails</title>
                                        </mmd_leadmail>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mmd_leadmail>
            <notify>
                <to_email>sales@tertiarycourses.com.sg</to_email>
                <to_name>Tertiary Courses Singapore</to_name>
                <cc>angch@tertiaryinfotech.com,tansc@tertiaryinfotech.com</cc>
            </notify>
        </mmd_leadmail>
    </default>
</config>
