<?xml version="1.0"?>
<config>
    <modules><MMD_LeadMail><version>1.0.0</version></MMD_LeadMail></modules>
    <global>
        <helpers>
            <mmd_leadmail><class>MMD_LeadMail_Helper</class></mmd_leadmail>
        </helpers>
    </global>
    <default>
        <mmd_leadmail>
            <notify>
                <to_email>sales@tertiarycourses.com.sg</to_email>
                <to_name>Tertiary Courses Singapore</to_name>
                <cc>angch@tertiaryinfotech.com,tansc@tertiaryinfotech.com</cc>
            </notify>
        </mmd_leadmail>
    </default>
</config>
