<?xml version="1.0"?>
<config>
    <modules>
        <MMD_BankPayment>
            <version>1.2.0</version>
        </MMD_BankPayment>
    </modules>
	<frontend>
	 <routers>
            <bankpayment>
                <use>standard</use>
                <args>
                    <module>MMD_BankPayment</module>
                    <frontName>bankpayment</frontName>
                </args>
            </bankpayment>
        </routers>
        <translate>
            <modules>
                <MMD_BankPayment>
                    <files>
                        <default>MMD_BankPayment.csv</default>
                    </files>
                </MMD_BankPayment>
            </modules>
        </translate>
		<layout>
            <updates>
                <bankpayment>
                    <file>bankpayment.xml</file>
                </bankpayment>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <bankpayment>
                <class>MMD_BankPayment_Model</class>
            </bankpayment>
        </models>
        <resources>
            <bankpayment_setup>
                <setup>
                    <module>MMD_BankPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bankpayment_setup>
            <bankpayment_write>
                <use>core_write</use>
            </bankpayment_write>
            <bankpayment_read>
                <use>core_read</use>
            </bankpayment_read>
        </resources>
        <blocks>
            <bankpayment>
                <class>MMD_BankPayment_Block</class>
            </bankpayment>
        </blocks>
        <helpers>
            <bankpayment>
                <class>MMD_BankPayment_Helper</class>
            </bankpayment>
        </helpers>        
    </global>
    <default>
        <payment>
            <bankpayment>
                <active>0</active>
                <model>bankpayment/bankPayment</model>
                <order_status>1</order_status>
                <title>Bank Prepayment</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
            </bankpayment>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <MMD_BankPayment>
                    <files>
                        <default>MMD_BankPayment.csv</default>
                    </files>
                </MMD_BankPayment>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <bankpayment>
                <title>DBS</title>
                <active>1</active>
                <show_bank_accounts_in_pdf>1</show_bank_accounts_in_pdf>
                <show_customtext_in_pdf>1</show_customtext_in_pdf>
				<enabledorder>1</enabledorder>
				<recipient_email>sale@example.com</recipient_email>
            </bankpayment>
        </payment>
    </default>
</config>
