.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
docs/
media/

# IDE and OS files
.idea/
.vscode/
.DS_Store

# Temporary and cache files
var/cache/
var/session/
var/log/
var/report/
var/tmp/

# Node modules
node_modules/
