# Docker MySQL Configuration
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=courses_backupDB
MYSQL_USER=magento
MYSQL_PASSWORD=change_me

# API Keys
KAEL_REVIEW_API_KEY=change_me
RECAPTCHA_SECRET_KEY=change_me
