<?xml version="1.0"?>
<config>
    <modules>
        <MMD_Enhancedsalesgrid>
            <version>1.0.1</version>
        </MMD_Enhancedsalesgrid>
    </modules>
    <global>
        <models>
            <enhancedsalesgrid>
                <class>MMD_Enhancedsalesgrid_Model</class>
            </enhancedsalesgrid>
        </models>
        <blocks>
            <enhancedsalesgrid>
                <class>MMD_Enhancedsalesgrid_Block</class>
            </enhancedsalesgrid>			
			<adminhtml>
				<rewrite>
				<sales_order_grid>MMD_Enhancedsalesgrid_Block_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
			
        </blocks>
        <helpers>
            <enhancedsalesgrid>
                <class>MMD_Enhancedsalesgrid_Helper</class>
            </enhancedsalesgrid>
        </helpers>
        <resources>
            <enhancedsalesgrid_setup>
                <setup>
                    <module>MMD_Enhancedsalesgrid</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </enhancedsalesgrid_setup>
        </resources>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <enhancedsalesgrid>
                        <type>model</type>
                        <class>enhancedsalesgrid/observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </enhancedsalesgrid>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <enhancedsalesgrid>
                    <file>enhancedsalesgrid.xml</file>
                </enhancedsalesgrid>
            </updates>
        </layout>
    </adminhtml>
</config>