<?xml version="1.0"?>
<config>
    <tabs>
        <mmd>
            <label>Mage Mobile Design</label>
            <sort_order>999</sort_order>
        </mmd>
    </tabs>

    <sections>
        <enhancedsalesgrid translate="label" module="enhancedsalesgrid">
            <class>separator-top</class>
            <label>Sales Grid Management</label>
            <tab>mmd</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <columns_to_show translate="label">
                            <label>Columns To Show</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>enhancedsalesgrid/source_fields</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </columns_to_show>
                    </fields>
                </options>
            </groups>
        </enhancedsalesgrid>
    </sections>
</config>