<?xml version="1.0"?>
<config>
    <modules>
        <MMD_EmailLogin>
            <version>1.0.0</version>
        </MMD_EmailLogin>
    </modules>
    <global>
        <models>
            <admin>
                <rewrite>
                    <user>MMD_EmailLogin_Model_User</user>
                </rewrite>
            </admin>
            <admin_resource>
                <rewrite>
                    <user>MMD_EmailLogin_Model_Resource_User</user>
                </rewrite>
            </admin_resource>
        </models>
    </global>
</config>
