<?xml version="1.0"?>
<config>
    <modules>
        <MMD_Courses>
            <version>1.0.3</version>
        </MMD_Courses>
    </modules>
    <frontend>
        <routers>
            <courses>
                <use>standard</use>
                <args>
                    <module>MMD_Courses</module>
                    <frontName>courses</frontName>
                </args>
            </courses>
        </routers>
        <layout>
            <updates>
                <courses>
                    <file>courses.xml</file>
                </courses>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<courses>
				<use>admin</use>
				<args>
					<module>MMD_Courses</module>
					<frontName>courses</frontName>
				</args>
			</courses>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<courses module="courses">
						<title>Provider Manager</title>
						<sort_order>10</sort_order>
						<children>
							<providers module="courses">
							<title>Manage Providers</title>
							<sort_order>1</sort_order>
							<action>courses/adminhtml_providers</action>
							</providers>
							<configuration module="courses">
							<title>Settings</title>
							<sort_order>2</sort_order>
							<action>adminhtml/system_config/edit/section/courses</action>
							</configuration>
						</children>
					</courses>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MMD_Courses>
							<title>Courses</title>
							<sort_order>10</sort_order>
						</MMD_Courses>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<courses>
					<file>courses.xml</file>
				</courses>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <courses>
                <class>MMD_Courses_Model</class>
                <resourceModel>courses_mysql4</resourceModel>
            </courses>
            <courses_mysql4>
                <class>MMD_Courses_Model_Mysql4</class>
                <entities>
                    <trainers>
                        <table>courses_trainers</table>
                    </trainers>
					<providers>
                        <table>courses_providers</table>
                    </providers>
                </entities>
            </courses_mysql4>
        </models>
        <resources>
            <courses_setup>
                <setup>
                    <module>MMD_Courses</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </courses_setup>
            <courses_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </courses_write>
            <courses_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </courses_read>
        </resources>
        <blocks>
            <courses>
                <class>MMD_Courses_Block</class>
            </courses>
        </blocks>
        <helpers>
            <courses>
                <class>MMD_Courses_Helper</class>
            </courses>
        </helpers>
    </global>
</config>
