<config>
	  <tabs>
		<mmd translate="label" module="courses">
            <label>MMD</label>
            <sort_order>0</sort_order>
        </mmd>
	  </tabs>
	  <sections>
		<courses  translate="label" module="courses">                    
		<label>Provider Manager</label>
		<tab>mmd</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <general translate="label"> 
					  <label>General Settings</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                      
						 
						  <provider_code translate="label">
                            <label>Provider Attribute</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Enter Provider Attribute Here</comment>
                          </provider_code>
						  
						  
						 <pro_spec_code translate="label">
                            <label>Provider Specialty Attribute</label>
							<frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Enter Provider Specialty Attribute Here</comment>
                          </pro_spec_code>
						  
						<provider_area_code translate="label">
                            <label>Area Attribute</label>
							<frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Enter Area Attribute Here</comment>
                        </provider_area_code>				  
					
						  
					
						  
					   </fields>
					   </general>
					</groups>
		</courses>
	  </sections>
</config>
