.mmdCatalogmanagement_input_text
{
    width: 95%;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;
}

.mmdCatalogmanagement_input_date
{
    width: 70%;
}

.mmdCatalogmanagement_input_select
{
    width: 95%;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;
}

.mmdCatalogmanagement_sortable
 {
     background: url(../../images/mmd/catalogmanagement/move.png) 98% 3px no-repeat;
 }

.mmdCatalogmanagement_sortable a
{
    cursor: move;
}

.mmdCatalogmanagement_sortable_insertafter
{
    border-right: 4px solid #e1d900 !important;
}