<?xml version="1.0"?>
<!-- @copyright  Copyright (c) 2009 MMD, Inc. -->
<config>
    <modules>
        <MMD_Mmdinstall>
            <version>1.0.1</version>
        </MMD_Mmdinstall>
    </modules>
    
    <adminhtml>
        <layout>
            <updates>
                <mmdinstall>
                    <file>mmdinstall.xml</file>
                </mmdinstall>
            </updates>
        </layout>
    </adminhtml>
    
    <global>
        <helpers>
            <mmdinstall>
                <class>MMD_Mmdinstall_Helper</class>
            </mmdinstall>
        </helpers>
    </global>
</config>
