.slide-container {width:100%;float:left;text-align:center;margin-bottom:20px;}
.slide-show{float:left;position:relative;}
.indentmenu{position:absolute;z-index:999;}
.banner-content-style1{position:absolute; top:0; left:0;}
.indentmenu ul{margin: 2px;padding:0;background: transparent;}
.indentmenu ul li{float:left;list-style:none; text-align:center;}
.indentmenu ul li a{margin: 2px;color: #000;text-decoration: none;background:#fff; width:20px;height:20px; font-size:13px;line-height:21px; display:block;}
.indentmenu ul li a.selected{color: white !important;background:#F85601;}
.tabcontent{width:100%;float:left;position:relative;display:none;}
.tabcontent a{width:100%;float:left;z-index:9; text-decoration:none;}
@media print {.tabcontent {display:block !important;}}
.banner_content {padding:0px 10px 10px 10px;position:absolute;bottom:0;left:0;text-align:left;z-index:99; opacity: 0.7; filter: alpha(opacity = 70);}
.banner_content p{color:#fff;}
/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}