.slide-container {width:586px;text-align:center;margin-bottom:20px; float:right;}
/* Basic jQuery Slider essential styles */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%; z-index:9999;position:absolute;}
ol.bjqs-markers li{display:inline;text-align:center;}
ol.bjqs-markers li a{display:inline-block; }
p.bjqs-caption{display:none;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.bjqs-prev a{  
 width:31px; height:34px; background:url(arrows.png) top left no-repeat; cursor:pointer;
  text-indent:-10000px;
}
.bjqs-next a{
 width:31px; height:34px; background:url(arrows.png) top right no-repeat; cursor:pointer;
  text-indent:-5000px;
}
ul.bjqs-controls.v-centered li a{
	display:block;	
	color:#000;
	text-decoration: none;
}
ol.bjqs-markers li a{	
	/*background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;	
	width:20px;
	height:20px;
	font-size:13px;
	line-height:19px;*/
	
	background: url("sliderno-.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
font-size: 15px;
padding: 0 7px;
text-align: center;
text-decoration: none;
margin-right:5px;	
	
}
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	/*background: #999;*/
	
	background: url("hoverslider.png") no-repeat scroll 0 0 transparent;
color: #FFFFFF;
}
p.bjqs-caption{
	background: rgba(255,255,255,0.5);
} 

#banner { border: 7px solid #FFFFFF;
border-radius: 6px 6px 6px 6px; height:306px !important; }